apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pihole

resources:
  - namespace.yaml
  - secret-admin-password.yaml
  - pvc-config.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
