apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pihole-config
  labels:
    app: pihole
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: local-path  
