apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: demo
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml   # keep this if you want ingress, otherwise remove
